<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <%= link_to image_tag(Settings.images.trainer.logo, alt: "AdminLTE Logo", class: "brand-image img-circle elevation-3 image-logo") , root_path %>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image img-circle elevation-2">
          <%= gravatar_for current_user %>
        </div>
        <div class="info d-block">
          <%= current_user.name %>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column fixtext" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
             <%= link_to("#", class: "nav-link active" ) do %>
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  <%= t ".question" %>
                  <i class="right fas fa-angle-left"></i>
                </p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to("#", class: "nav-link" ) do %>
                  <i class="far fa-circle nav-icon"></i>
                  <p><%= t ".show_q" %></p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to("#", class: "nav-link" ) do %>
                  <i class="far fa-circle nav-icon"></i>
                  <p><%= t ".create_q" %></p>
                <% end %>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview menu-open">
            <%= link_to("#", class: "nav-link active" ) do %>
              <i class="far fa-laugh-beam"></i>
              <p>
                <%= t ".trainee" %>
                <i class="right fas fa-angle-left"></i>
              </p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to("#", class: "nav-link" ) do %>
                  <i class="far fa-circle nav-icon"></i>
                  <p><%= t ".show_user" %></p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to("#", class: "nav-link" ) do %>
                  <i class="far fa-circle nav-icon"></i>
                  <p><%= t ".create_user" %></p>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <%= link_to("#", class: "nav-link active" ) do %>
              <i class="nav-icon fas fa-th"></i>
              <p>
                <%= t ".statistical" %>
              </p>
            <% end %>
          </li>
        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
